/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-giu-2015, 20.25.17
    Author     : Giuseppe
*/


/*
###################### MESSAGGI #######################
*/



#message {
  margin: 10px;
}

#message p {
  display: block;
  margin: 1px;
  padding: 2px;
}

#message .good {
  background-color: #33ff33
}

#message .warning {
  background-color: #ffff33
}

#message .error {
  background-color: #ff3333;
}


/*
################### FINE MESSAGGI #######################
*/


article span{
    
    margin: 0px 10px 0px 10px;
    
}


/*
#########################CATALOGO #######################
*/

article .pizza, article .prenotazione, article .utente{
    margin: 10px 0px 10px 0px;
}

article .pizza {
  position: relative;
  text-align: left;
}


article .pizza .nome {
  font-weight: bold;
}

article .pizza .prezzo_block {
  display: inline-block;
  position: absolute;
  right: 80px;
}

article .pizza .prezzo{
}


article .pizza .ingredienti_block {
  font-size: 10px;
  
}

article .pizza .ingredienti {
  font-style: oblique;
  
}

/*
################### FINE CATALOGO #######################
*/

#page{
  display: none;
}


/*
#########################CATALOGO PRENOTAZIONI #######################
*/

.pren_pizza {
  
  position: relative;
}

input[name="addPizza"] {
  margin-top: 5px;
  margin-bottom: 20px;
  
  
}


/*
################### FINE CATALOGO PRENOTAZIONI #######################
*/


/*
######################### LISTA UTENTI ############################
*/

div.utente {
  position: relative;
}

div.utente .info {

  font-size: large;
  margin-top: 60px;
  margin-bottom: 30px;
}

div.utente .info .username, div.utente .info .password, div.utente .info .permission {
    border: 1px solid #000;
    padding: 20px;
    margin: 0px;
}

/*
######################### FINE LISTA UTENTI #######################
*/