root { 
    display: block;
}

body {
    text-align: center;
    font-family: Verdana,sans-serif;
    font-size: medium;
    background:#fff;

}

#container {
    min-width: 1000px;
    max-width: 2500px;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #af1c22;
}