root { 
    display: block;
}

body {
    margin: 0px;
    text-align: center;
}
div{
    padding:1px;
    color:black;
    font-size: 15px;
}
header {
    margin: 0px;
    position:absolute;
    top: 0px;
    left:0px;
    width: 100%;  
    height: 15%;   
    
    background-color: red;
    text-align: center;
}

header div{
    font-size: 30px;
}
nav .h{
    font-size: 20px;
}
nav,article,aside{
    position:absolute;
    top:15%;
    height: 80%;
}
nav {
    left:0px;
    width: 20%;
    
    background-color: orange;
    text-align: center;    
} 

nav div{
    width: 90%;
    color: black;
}

article {
    left:20%;
    width: 60%;
    
    background-color: bisque;
    overflow-y: auto;
}

article span{
    
    margin: 0px 10px 0px 10px;
    
}


article .pizza, article .prenotazione, article .utente{
    margin: 10px 0px 10px 0px;
}

aside{
    right:0px;
    width: 20%;
    
    background-color: orange;
}

aside div{
    width: 90%;
    color: black;
}
aside div form input{
    width:80%;
}
aside #terminale{
    background-color: black;
    color: greenyellow;
    margin: 1%;
    width: 98%;
}

footer {
    position:absolute;
    top: 95%;
    left:0px;
    width: 100%;
    height: 5%;
    font-size: 1em;
    background-color: red;
    text-align: center;
}