root { 
    display: block;
}

body {
    margin: 0px;
}

h1,p{
    margin: 0px;
}

header {
    margin: 0px;
    position:absolute;
    padding: 1%;
    top: 0px;
    left:0px;
    width: 98%;  
    height: 13%;   
    
    background-color: red;
    text-align: center;
}

nav,article,aside{
    position:absolute;
    padding: 1%;
    top:15%;
    height: 78%;
}
nav {
    left:0px;
    width: 18%;
    
    background-color: orange;
    text-align: center;    
} 

nav div{
    padding: 1%;
    width: 90%;
    color: black;
}

article {
    left:20%;
    width: 58%;
    
    background-color: bisque;
    overflow-y: scroll;
    text-align: center;
}

aside{
    right:0px;
    width: 18%;
    
    background-color: orange;
    text-align: center;
}

aside div{
    margin-left: 5%;
    margin-right:5%;
    width: 90%;
    color: black;
}
aside #terminale{
    background-color: black;
    color: greenyellow;
    padding: 1%;
    margin: 1%;
}

footer {
    position:absolute;
    padding: 1%;
    bottom: 0px;
    left:0px;
    width: 98%;
    height: 3%;
    
    background-color: pink;
    text-align: center;
}