
root { 
    display: block;
}

body {
    margin: 0px;
    text-align: center;
}
div{
    padding:1px;
    color:black;
    font-size: 15px;
}


 header {
    margin: 0px;
    position:absolute;
    top: 0px;
    left:0px;
    width: 100%;  
    height: 15%;   
    
    background-color: #af1c22;
    text-align: center;
}

 nav {
    left:0px;
    width: 20%;
    
    background-color: #af1c22;
    text-align: center;    
}  

 
 article {
    left:20%;
    width: 60%;
    
    background-color: #ffe7d8;
    overflow-y: auto;
}



 
 aside{
    right:0px;
    width: 20%;
  
    position: relative;
    text-align: left;
    
    background-color: #af1c22 ;
}


footer {
    position:absolute;
    top: 95%;
    left:0px;
    width: 100%;
    height: 5%;
    font-size: 1em;
    background-color: #af1c22;
    text-align: center;
}

 /* </editor-fold> */


